{% extends 'base.html' %}

{% block title %}커리어 선택 예측 AI | NEXTEP.AI{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block header %}
    {% include 'common/header.html' %}
{% endblock %}

{% block content %}
<div id="fullpage">
    <div class="section">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url({{ url_for('static', filename='images/career_image.jpeg') }})">
                    <div class="hero-content">
                        <h1>
                            당신의 커리어,<br> <span class="highlight">더 나은 선택</span>을 위해
                        </h1>
                        <p>커리어 선택에 대한 예측, 지금 받아보세요</p>
                        <div class="buttons">
                            <a href="{{ url_for('main.predict') }}" class="start-btn">시작하기</a>
                            <a href="{{ url_for('main.about') }}" class="outline-btn">서비스 소개 보기</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image:url({{ url_for('static', filename='images/career_image_2.jpg') }})">
                    <div class="hero-content">
                        <h1>
                            AI의 맞춤 조언으로<br> <span class="highlight">커리어의 다음 단계</span>를 준비하세요
                        </h1>
                        <p>예측된 미래를 바탕으로, AI가 당신의 성공을 위한 길을 안내합니다.</p>
                        <div class="buttons">
                            <a href="{{ url_for('main.advice') }}" class="start-btn">AI 조언 받기</a>
                            <a href="{{ url_for('main.about') }}" class="outline-btn">서비스 소개 보기</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Navigation -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <div class="section section-cards">
        <div class="main-content">
            <div class="card-container">
                <div class="card">
                    <div class="card-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 002.25-2.25V6.75a2.25 2.25 0 00-2.25-2.25H6.75A2.25 2.25 0 004.5 6.75v10.5a2.25 2.25 0 002.25 2.25z" />
                        </svg>
                    </div>
                    <h3>내 커리어 예측</h3>
                    <p>커리어 예측을 통해<br>소득 변화율과 만족도 변화를 예측하세요.</p>
                    <a href="{{ url_for('main.predict') }}" class="card-button">자세히 보기</a>
                </div>
                <div class="card">
                    <div class="card-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.898 20.562L16.25 21.75l-.648-1.188a2.25 2.25 0 01-1.423-1.423L13.5 18.75l1.188-.648a2.25 2.25 0 011.423 1.423l.648 1.188z" />
                        </svg>
                    </div>
                    <h3>생성형 AI</h3>
                    <p>예측 결과를 바탕으로<br>개인 맞춤형 조언을 받아보세요.</p>
                    <a href="{{ url_for('main.advice') }}" class="card-button">자세히 보기</a>
                </div>
                <div class="card">
                    <div class="card-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
                        </svg>
                    </div>
                    <h3>RAG</h3>
                    <p>전문 문서를 참조 하는 RAG 기능이<br>어떻게 동작하는 지 확인해보세요.</p>
                    <a href="{{ url_for('main.rag') }}" class="card-button">자세히 보기</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section fp-auto-height">
        {% include 'common/footer.html' %}
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            new fullpage('#fullpage', {
                licenseKey: 'gplv3',
                autoScrolling: true,
                navigation: false,
                responsiveWidth: 1024,
                paddingTop: '80px',
            });

            var swiper = new Swiper('.swiper-container', {
                effect: 'fade',
                loop: true,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,
                },
            });
        });
    </script>
{% endblock %}